/**********************************************/
/******  Full view change sections order ******/
/**********************************************/

#full-view-container>*:first-child {
	display: flex;
	flex-direction: column;
}

#brief {
	order: 0 !important;
}

#action_list {
	order: 1 !important;
}

#searchWithinJournal {
	order: 2 !important;
}

/****** View Online ******/
#getit_link1_0 {
	order: 3 !important;
}

/*Loan and request options*/
#getit_link1_1 {
	order: 4 !important;
}

#details {
	order: 5 !important;
}

#moreFromTheSameCollection {
	order: 6 !important;
}

#virtualBrowse {
	order: 7 !important;
}

#citationTrails {
	order: 8 !important;
}

#links {
	order: 9 !important;
}

#moreFromTheSameCourse {
	order: 10 !important;
}

/****** Change of links in left navigation bar ENG ******/

[aria-label="Top"] {
	order: 0 !important;
}

[aria-label="Send to"] {
	order: 1 !important;
}

[aria-label="Search inside"] {
	order: 2 !important;
}

[aria-label="View Online"] {
	order: 3 !important;
}

[aria-label="Loan and request options"] {
	order: 4 !important;
}

[aria-label="Citations"] {
	order: 5 !important;
}

[aria-label="Details"] {
	order: 6 !important;
}

[aria-label="Collection"] {
	order: 7 !important;
}

[aria-label="Virtual Browse"] {
	order: 8 !important;
}

[aria-label="Links"] {
	order: 9 !important;
}

[aria-label="Course"] {
	order: 10 !important;
}

/****** Change of links in left navigation bar GER ******/

[aria-label="Top"] {
	order: 0 !important;
}

[aria-label="Senden an"] {
	order: 1 !important;
}

[aria-label="Suche innerhalb"] {
	order: 2 !important;
}

[aria-label="Online ansehen"] {
	order: 3 !important;
}

[aria-label="Ausleih- und Bestelloptionen"] {
	order: 4 !important;
}

[aria-label="Details"] {
	order: 5 !important;
}

[aria-label="Sammlung"] {
	order: 6 !important;
}

[aria-label="Virtuelles Regal"] {
	order: 7 !important;
}

[aria-label="Literatur"] {
	order: 8 !important;
}

[aria-label="Links"] {
	order: 9 !important;
}

[aria-label="Seminar"] {
	order: 10 !important;
}