.hsg-collapsed {
	overflow: hidden;
}

.hsg-expanded {
	overflow: hidden;
}

.hsg-collapsed .hsg-foldable-item {
	display: none;
}

.hsg-expand-button,
.hsg-collapse-button {
	display: flex;
	cursor: pointer;
	width: fit-content;
	line-height: 23px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.59);
	padding: 1px 10px 1px 0px;
	margin-top: 10px;
}

.hsg-expand-button {
	margin-bottom: 10px;
}

.hsg-expand-button:hover,
.hsg-collapse-button:hover {
	background-color: #ddd;
}