/**********************/
/* Pagination Buttons */
/**********************/

.counter-main a.md-button,
.results-per-page button.md-button {
	border: none;
}

.counter-main a.md-button:hover,
.results-per-page button.md-button:hover {
	background-color: #ddd;
	color: #000;
}

.counter-nav a.md-button:hover {
	background-color: #ddd;
	color: #000;
}

.counter-main a.md-button.current-page,
.results-per-page button.md-button.current-bulk {
	border: 1px solid rgba(0, 0, 0, 0.59);
	box-shadow: none;
	background-color: transparent;
}

.counter-main a.md-button.current-page:hover,
.results-per-page button.md-button.current-bulk:hover {
	box-shadow: none;
}