<div ng-if="$ctrl.openurl" class="layout-row hsg-openurl-container">
    <div class="hsg-openurl">
        <span>{{::$ctrl.translate('text')}}</span>
        <br>
        <a ng-if="$ctrl.isbn || (!$ctrl.issn && !$ctrl.isbn)" href={{::$ctrl.translate('link_interlib')}} target="_blank" rel="noopener">
            <span>{{::$ctrl.translate('linktext_interlib')}}</span>
            <prm-icon external-link icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new"></prm-icon>
        <br>
        </a>
        
        <a ng-if="$ctrl.issn || (!$ctrl.issn && !$ctrl.isbn)" href={{::$ctrl.translate('link_article')}} target="_blank" rel="noopener">
            <span>{{::$ctrl.translate('linktext_article')}}</span>
            <prm-icon external-link icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new"></prm-icon>
        <br>
        </a>

    </div>
</div>