<div class="hsg-chat">
	<!-- <h1 class="accessible-only">Chat</h1>
	<button class="button chat-tab ss-chat js-toggle-chat" ng-class="bottomPadding" ng-init="showChatWidget = false" ng-click="showChatWidget = !showChatWidget">
		<prm-icon style="z-index:1" icon-type="svg" svg-icon-set="communication" icon-definition="ic_chat_24px"></prm-icon>
		Chat
	</button>
	<div class="chat-frame-wrap" ng-class="bottomPadding" ng-show="showChatWidget">
		<button class="chat-close ss-icon js-toggle-chat" title="Close chat window" ng-click="showChatWidget = !showChatWidget">&times;</button>
		<iframe title="Chat" class="chat-frame" ng-src="https://eu.libraryh3lp.com/chat/ethbibs-queue@chat.eu.libraryh3lp.com?skin=15125" frameborder="0"></iframe>
	</div> -->
	<div class="needs-js">
		chat loading...
	</div>
	<script type="text/javascript">
		(function () {
			console.log('append!')
			var x = document.createElement("script"); x.type = "text/javascript"; x.async = true
			x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "eu.libraryh3lp.com/js/libraryh3lp.js?1544"
			document.body.append(x)
		})();
	</script>
</div>
