<md-content ng-controller="hsgHomeController as $ctrl">
    <div class="ps_content md-padding" layout-gt-sm="row" layout-align="center start" flex="100">
        <div flex-gt-sm="80" flex="100" layout="column">
            <hsg-alert-message-component></hsg-alert-message-component>
        </div>
    </div>

    <div class="ps_content md-padding" layout-gt-sm="row" layout-align="center start" flex="100">
        <!-- column 1-->
        <div flex-gt-sm="40" flex="100" layout="column">
            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h1 class="md-headline">Welcome to <b>HSGswisscovery</b></h1>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Here you can perform simple and advanced searches for books, <a
                           href="https://www.unisg.ch/en/universitaet/bibliothek/recherche/ebooks"
                           target="_blank">e-books</a>, <a
                           href="https://www.unisg.ch/en/universitaet/bibliothek/recherche/zeitschriften"
                           target="_blank">journals</a>, <a
                           href="https://www.unisg.ch/en/universitaet/bibliothek/recherche/datenbanken"
                           target="_blank">databases</a> and other media.
                    </p>
                    <ul>
                        <li>Search in the printed and electronic content provided by the HSG-Library
                        <li>With one click, expand your search to more than <a href="https://slsp.ch/libraries"
                               target="_blank">490 scientific libraries</a> in Switzerland
                        <li>Access e-media licensed by the HSG-Library as well as Open Access content
                        <li>Request books from the HSG-Library or other participating libraries, directly or via SLSP
                            courier</li>
                        <li>Manage your account, your loans and your requests</li>
                    </ul>
                    <br />

                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">We are here for you</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        <a href="https://www.unisg.ch/en/universitaet/bibliothek/recherche/datenbanken/a-z"
                           target="_blank">Databases A-Z</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/en/universitaet/bibliothek/dienstleistungen/fernleihe/fernleihauftrag"
                           target="_blank">Interlibrary loan order</a>
                    </p>
                    <p>
                        <a href="jsearch">Journal Search</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/en/universitaet/bibliothek/aktuell" target="_blank">Library
                            News</a>
                    </p>
                    <p>
                        <a
                           href="https://www.unisg.ch/en/universitaet/bibliothek/dienstleistungen/anschaffungsvorschlag">Purchase
                            suggestions</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/en/universitaet/bibliothek/dienstleistungen/beratung"
                           target="_blank">Search & Find service</a>
                    </p>
                    <p> <br>
                    </p>
                    <p>
                        Do you have any questions or comments? Are you experiencing problems with HSGswisscovery? Don't
                        hesitate to <a href="mailto:bibliothek@unisg.ch" target="_blank">contact us</a>! We are looking
                        forward to reading your message.
                    </p>
                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Registration</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        To benefit from the services we are offering with HSGswisscovery, please create an account on
                        our <a href="https://registration.slsp.ch/?iz=hsg" target="_blank">registration platform</a>.
                    </p <p><b> Attention!</b> If you are affiliated with the University of St.Gallen (student,
                    researcher, academia, staff) and are registering with a non-Swiss postal address: please <a
                       href="https://eduidlinking.unisg.ch/" target="_blank">link your edu-ID with your HSG
                        account</a>. Otherwise, you will not benefit from the full range of our services!
                    </p>
                </md-card-content>
            </md-card>
            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Not on campus?</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        To access electronic content provided by the HSG-Library, you need to establish a <a
                           href="https://www.unisg.ch/en/universitaet/bibliothek/dienstleistungen/infrastruktur/internetzugang"
                           target="_blank">VPN connection</a>.
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <!-- column 2 -->
        <div flex-gt-sm="40" flex="100" layout="column">

            <md-card class="cardbox default-card" ng-class="$ctrl.isCheckDone() ? $ctrl.isOnCampus() ? 'hsg-on-campus': 'hsg-not-on-campus' : 'hsg-on-campus-unkown'">
                <md-card-title>
                    <md-card-title-text>
                        <h2 ng-if="!$ctrl.isOnCampus()" class="md-headline">Not on campus?</h2>
                        <h2 ng-if="$ctrl.isOnCampus()" class="md-headline">You are on campus</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content ng-class="$ctrl.isCheckDone() ? $ctrl.isOnCampus() ? 'hsg-on-campus': 'hsg-not-on-campus' : 'hsg-on-campus-unkown'">
                    <div class="hsg-on-campus-container">
                        <div class="hsg-on-campus-icon" ng-class="!$ctrl.isCheckDone() ? 'hsg-on-campus-icon-hidden' : ''">
                            <svg ng-if="$ctrl.isCheckDone() && $ctrl.isOnCampus()" class="md-avatar" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                            </svg>
                            <svg ng-if="$ctrl.isCheckDone() && !$ctrl.isOnCampus()" class="md-avatar" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"></path>
                            </svg>
                        </div>
                        <p>
                            To access electronic content provided by the HSG-Library, you need to establish a <a
                               href="https://www.unisg.ch/en/universitaet/bibliothek/dienstleistungen/infrastruktur/internetzugang"
                               target="_blank">VPN connection</a>.
                        </p>
                        <a class="hsg-on-campus-check" ng-class="!$ctrl.isCheckDone() ? 'hsg-on-campus-check-running' : ''" ng-click="$ctrl.check()">
                            <md-icon>
                                <svg styles="display: inline" viewBox="0 0 24 24" y="960" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path d="M12,5V1L7,6L12,11V7A6,6 0 0,1 18,13A6,6 0 0,1 12,19A6,6 0 0,1 6,13H4A8,8 0 0,0 12,21A8,8 0 0,0 20,13A8,8 0 0,0 12,5Z"></path>
                                </svg>
                            </md-icon>
                        </a>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2>Search like a pro</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        HSGswisscovery offers three search profiles: «HSG» that is used as our default
                        search as well as «swisscovery» and «swisscovery plus». What are the differences,
                        what is included in your search?
                    </p>
                    <h4>HSG</h4>
                    <ul>
                        <li>Our physical holdings (books, journals and AV media)</li>
                        <li>Alexandria, the Institutional Repository of the University of St.Gallen</li>
                        <li>Our licensed electronic products (databases, E-journals and E-books)</li>
                        <li>Additional electronic content that is available Open Access</li>
                    </ul>
                    <br>
                    <h4>swisscovery</h4>
                    <p>
                        By selecting the search profile swisscovery, you can expand your search to all of Switzerland.
                        Additionally to our
                        content, you can find:
                    </p>
                    <ul>
                        <li>Physical holdings from all 500 libraries participating in our network</li>
                        <li>Additional free content that is made available by participating libraries in the network
                            (Institutional Repositories,
                            free E-collections and archives)</li>
                    </ul>
                    <br>
                    <h4>swisscovery plus</h4>
                    <p>
                        You can further expand your search scope with swisscovery plus.
                        This will add the following to your results:
                    </p>
                    <ul>
                        <li>Physical holdings of libraries in the Renouvaud network (e.g. BCU Lausanne)</li>
                        <li>Bibliographical information for electronic documents without access</li>
                    </ul>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
<md-content>
    <div flex="100">
        <md-card class="prm-primary-bg psfooter" flex layout-gt-sm="row" layout-align="space-around start">
            <md-card-content class="prm-primary-bg">
                <span class="md-headline">Address:</span>
                <p>University of St.Gallen</p>
                <p>Library</p>
                <p>Dufourstrasse 50</p>
                <p>9000 St.Gallen</p>
            </md-card-content>
            <md-card-content class="prm-primary-bg">
                <span class="md-headline">Contact us:</span>
                <p>Telefon <a href="tel:+41712242270">+41 71 224 22 70</a></p>
                <p>WhatsApp <a href="https://wa.me/41798368776">+41 79 836 87 76</a></p>
                <p><a href="mailto:bibliothek@unisg.ch">Email</a></p>
                <p><a href="https://www.unisg.ch/en/universitaet/bibliothek" target="_blank">Website</a></p>

            </md-card-content>
            <md-card-content class="prm-primary-bg">
                <span class="md-headline">Description:</span>
                <p>This page is the access point to the resources of the</p>
                <p><a class="ps_link" href="https://www.unisg.ch/en/universitaet/bibliothek" target="_blank">Library of
                        the University of St.Gallen</a></p>
            </md-card-content>
        </md-card>
        <md-card class="prm-primary-bg psfooter-legal" flex layout-gt-sm="row" layout-align-gt-sm="center start">
            <md-card-content class="prm-primary-bg" flex-gt-sm="70" layout-align-gt-sm="end">
                <span class="legal">The Library of the University of St.Gallen is member of the <a
                       href="https://slsp.ch" target="_blank" class="ps_link">Swiss Library Service Platform
                        (SLSP).</a></span>
            </md-card-content>
            <md-card-content class="prm-primary-bg" flex-gt-sm="15" layout-align-gt-sm="end">
                <a class="ps_link legal" href="https://www.unisg.ch/en/disclosures/allgemeinerechtlicheinformationen"
                   target="_blank">Legal Information</a>
            </md-card-content>
            <md-card-content class="prm-primary-bg" flex-gt-sm="15" layout-align-gt-sm="end">
                <a class="ps_link legal" href="https://slsp.ch/en/dataprotection" target="_blank">Data Protection</a>
            </md-card-content>
        </md-card>
    </div>
</md-content>
