<md-content ng-controller="hsgHomeController as $ctrl">
    <div class="ps_content md-padding" layout-gt-sm="row" layout-align="center start" flex="100">
        <div flex-gt-sm="80" flex="100" layout="column">
            <hsg-alert-message-component></hsg-alert-message-component>
        </div>
    </div>

    <div class="ps_content md-padding" layout-gt-sm="row" layout-align="center start" flex="100">
        <!-- column 1-->
        <div flex-gt-sm="40" flex="100" layout="column">
            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h1 class="md-headline">Willkommen bei <b>HSGswisscovery</b></h1>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Hier stehen Ihnen einfache und erweiterte Suchfunktionen f&uuml;r B&uuml;cher, <a
                            href="https://www.unisg.ch/de/universitaet/bibliothek/suchen-und-nutzen/e-books/"
                            target="_blank">E-Books</a>, <a
                            href="https://www.unisg.ch/de/universitaet/bibliothek/suchen-und-nutzen/zeitschriften/"
                            target="_blank">Zeitschriften</a>, <a
                            href="https://www.unisg.ch/de/universitaet/bibliothek/suchen-und-nutzen/datenbanken/"
                            target="_blank">Datenbanken</a> und weitere Medien zur Verf&uuml;gung.
                        <br />
                    </p>
                    <ul>
                        <li>Recherchieren Sie in von der HSG-Bibliothek bereitgestellten Dokumenten
                        <li>Erweitern Sie Ihre Suche mit einem Klick auf &uuml;ber <a href="https://libraries.swisscovery.help/"
                                target="_blank">500 wissenschaftliche
                                Bibliotheken</a> in der Schweiz</li>
                        <li>Nutzen Sie lizenzierte E-Medien der HSG-Bibliothek und erhalten Sie Zugang zu frei
                            verf&uuml;gbaren Titeln</li>
                        <li>Bestellen Sie Dokumente der HSG-Bibliothek und von anderen Bibliotheken, direkt oder via
                            SLSP Courier</li>
                        <li>Verwalten Sie Ihr Konto, Ihre Ausleihen und Ihre Anfragen</li>
                    </ul>
                    <br />
                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Wir sind f&uuml;r Sie da</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        <a href="https://www.unisg.ch/de/universitaet/bibliothek/" target="_blank">Aktuelles</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/de/universitaet/bibliothek/suchen-und-nutzen/beschaffung/anschaffungsvorschlag/"
                            target="_blank">Anschaffungsvorschlag</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/de/universitaet/bibliothek/suchen-und-nutzen/datenbanken/"
                            target="_blank">Datenbanken A-Z</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/de/universitaet/bibliothek/suchen-und-nutzen/beschaffung/fernleihe/"
                            target="_blank">Fernleihformular</a>
                    </p>
                    <p>
                        <a href="https://www.unisg.ch/libkey" target="_blank">LibKey</a>
                        </p>
                        <p>
                        <a href="https://www.unisg.ch/de/universitaet/bibliothek/kontakt-und-beratung/beratungsangebot/"
                            target="_blank">Rechercheberatung</a>
                    </p>
                    <p>
                        <a href="jsearch">Zeitschriftensuche</a>
                    </p>
                    <p> <br>
                    </p>
                    <p>
                        Haben Sie Fragen oder m&ouml;chten Sie einen Kommentar anbringen? Haben Sie Probleme mit
                        HSGswisscovery? Dann <a href="mailto:bibliothek@unisg.ch" target="_blank">kontaktieren Sie
                            uns</a>! Wir freuen uns auf Ihre Nachricht.
                    </p>
                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Registrierung</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Um HSGswisscovery und SLSP Services nutzen zu k&ouml;nnen, registrieren Sie sich bitte auf
                        unserer <a href="https://registration.slsp.ch/?iz=hsg"
                            target="_blank">Registrierungsplattform</a>.
                        <br />
                    <p>
                        <b>Wichtig!</b> HSG-Angeh&ouml;rige mit Wohnadresse im Ausland: bitte <a
                            href="https://eduidlinking.unisg.ch/" target="_blank">verkn&uuml;pfen Sie Ihre
                            Switch edu-ID mit Ihrem HSG-Konto</a>. Nur so stehen Ihnen alle unsere Funktionalit&auml;ten
                        und Services vollumf&auml;nglich zur Verf&uuml;gung!
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <!-- column 2 -->
        <div flex-gt-sm="40" flex="100" layout="column">

            <md-card class="cardbox default-card"
                ng-class="$ctrl.isCheckDone() ? $ctrl.isOnCampus() ? 'hsg-on-campus': 'hsg-not-on-campus' : 'hsg-on-campus-unkown'">
                <md-card-title>
                    <md-card-title-text>
                        <h2 ng-if="!$ctrl.isOnCampus()" class="md-headline">Nicht im Campusnetzwerk?</h2>
                        <h2 ng-if="$ctrl.isOnCampus()" class="md-headline">Sie sind im Campusnetzwerk</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content
                    ng-class="$ctrl.isCheckDone() ? $ctrl.isOnCampus() ? 'hsg-on-campus': 'hsg-not-on-campus' : 'hsg-on-campus-unkown'">
                    <div class="hsg-on-campus-container">
                        <div class="hsg-on-campus-icon" ng-class="!$ctrl.isCheckDone() ? 'hsg-on-campus-icon-hidden' : ''">
                            <svg ng-if="$ctrl.isCheckDone() && $ctrl.isOnCampus()" class="md-avatar" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z">
                                </path>
                            </svg>
                            <svg ng-if="$ctrl.isCheckDone() && !$ctrl.isOnCampus()" class="md-avatar" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z">
                                </path>
                            </svg>
                        </div>
                        <p>
                            F&uuml;r den Fernzugriff auf elektronische Inhalte, die durch die HSG-Bibliothek
                            bereitgestellt
                            werden, ben&ouml;tigen Sie eine <a
                                href="https://www.unisg.ch/de/universitaet/bibliothek/dienstleistungen/infrastruktur/internetzugang"
                                target="_blank">VPN-Verbindung</a>.
                        </p>
                        <a class="hsg-on-campus-check" ng-class="!$ctrl.isCheckDone() ? 'hsg-on-campus-check-running' : ''"
                            ng-click="$ctrl.check()">
                            <md-icon>
                                <svg styles="display: inline" viewBox="0 0 24 24" y="960" xmlns="http://www.w3.org/2000/svg" fit=""
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path
                                        d="M12,5V1L7,6L12,11V7A6,6 0 0,1 18,13A6,6 0 0,1 12,19A6,6 0 0,1 6,13H4A8,8 0 0,0 12,21A8,8 0 0,0 20,13A8,8 0 0,0 12,5Z">
                                    </path>
                                </svg>
                            </md-icon>
                        </a>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2>LibKey</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    LibKey ist eine leistungsstarke Browsererweiterung, die Ihnen einen nahtlosen Zugriff auf die
                    lizenzierten
                    Inhalte derHSG-Bibliothek ermöglicht. Weitere Informationen finden Sie
                    <a target="_blank" href="https://www.unisg.ch/de/universitaet/bibliothek/libkey/">hier</a>.
                </md-card-content>
            </md-card>

            <md-card class="cardbox default-card">
                <md-card-title>
                    <md-card-title-text>
                        <h2>Suchen? Aber richtig!</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        HSGswisscovery bietet drei Suchprofile: «HSG», unsere Standardsuche, «swisscovery» sowie
                        «swisscovery plus». Was sind die Unterschiede, was wird durchsucht?
                    </p>
                    <h4>HSG</h4>
                    <ul>
                        <li>Unser physischer Bestand (Bücher, Zeitschriften und AV-Medien)</li>
                        <li>Alexandria, das Institutional Repository der Universität St.Gallen</li>
                        <li>Unsere lizenzierten elektronischen Produkte (Datenbanken, E-Journals und E-Books)</li>
                        <li>Sowie weitere elektronische Inhalte, welche Open Access verfügbar sind</li>
                    </ul>
                    <br>
                    <h4>swisscovery</h4>
                    <p>
                        Mit dem Suchprofil swisscovery kann Ihre Recherche schweizweit ausgeweitet werden, zusätzlich zu
                        unseren Inhalten finden Sie:
                    </p>
                    <ul>
                        <li>Physischer Bestand von rund 500 Bibliotheken im Netzwerk</li>
                        <li>Freie Inhalte, die durch andere Bibliotheken im Netzwerk zur Verfügung gestellt werden
                            (Institutional Repositories, freie E-Collections und Archive)</li>
                    </ul>
                    <br>
                    <h4>swisscovery plus</h4>
                    <p>
                        Mit Suchprofil swisscovery plus wird die Suche noch einmal erweitert.
                        Zusätzlich werden folgende Inhalte angezeigt:
                    </p>
                    <ul>
                        <li>Physischer Bestand der Renouvaud Bibliotheken (z.B. BCU Lausanne)</li>
                        <li>Bibliographische Informationen für elektronische Dokumente, zu denen wir keinen Zugang haben
                        </li>
                    </ul>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
<md-content>
    <div flex="100">
        <md-card class="prm-primary-bg psfooter" flex layout-gt-sm="row" layout-align="space-around start">
            <md-card-content class="prm-primary-bg">
                <span class="md-headline">Adresse:</span>
                <p>Universit&#228t St.Gallen</p>
                <p>Bibliothek</p>
                <p>Dufourstrasse 50</p>
                <p>9000 St.Gallen</p>
            </md-card-content>
            <md-card-content class="prm-primary-bg">
                <span class="md-headline">Kontakt:</span>
                <p>Telefon <a href="tel:+41712242270">+41 71 224 22 70</a></p>
                <p> WhatsApp <a href="https://wa.me/41798368776">+41 79 836 87 76</a></p>
                <p><a href="mailto:bibliothek@unisg.ch">E-Mail</a></p>
                <p><a href="https://www.unisg.ch/de/universitaet/bibliothek" target="_blank">Webseite</a></p>
                <p>

                </p>
            </md-card-content>
            <md-card-content class="prm-primary-bg">
                <span class="md-headline">Beschreibung:</span>
                <p>Diese Seite ist der Zugangspunkt zu den Ressourcen der</p>
                <p><a class="ps_link" href="https://www.unisg.ch/de/universitaet/bibliothek" target="_blank">Bibliothek
                        der Universit&#228t St.Gallen</a></p>
            </md-card-content>
        </md-card>
        <md-card class="prm-primary-bg psfooter-legal" flex layout-gt-sm="row" layout-align-gt-sm="center start">
            <md-card-content class="prm-primary-bg" flex-gt-sm="70" layout-align-gt-sm="end">
                <span class="legal">Die Bibliothek der Universit&#228t St.Gallen ist Mitglied der <a
                        href="https://slsp.ch" target="_blank" class="ps_link">Swiss Library Service Platform (SLSP).
                    </a></span>
            </md-card-content>
            <md-card-content class="prm-primary-bg" flex-gt-sm="15" layout-align-gt-sm="end">
                <a class="ps_link legal" href="https://www.unisg.ch/de/datenschutzerklaerung/"
                    target="_blank">Rechtliche Informationen</a>
            </md-card-content>
            <md-card-content class="prm-primary-bg" flex-gt-sm="15" layout-align-gt-sm="end">
                <a class="ps_link legal" href="https://slsp.ch/dataprotection" target="_blank">Datenschutz</a>
            </md-card-content>
        </md-card>
    </div>
</md-content>
